[workspace]
members = ["src/kbs", "src/api", "tools/client"]

[workspace.package]
version = "0.1.0"
authors = ["The Confidential Container Authors"]
description = "A Generic Key Broker Service (KBS)"
documentation = "https://github.com/confidential-containers/kbs"
edition = "2021"

[workspace.dependencies]
anyhow = "1.0"
api-server = { path = "src/api", default-features = false }
async-trait = "0.1.31"
base64 = "0.13.1"
env_logger = "0.10.0"
log = "0.4.17"
rstest = "0.18.1"
serde_json = "1.0.89"
thiserror = "1.0"
tokio = { version = "1.23.0", features = ["full"] }
tempfile = "3.4.0"
