[package]
name = "attestation-service"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "grpc-as"
path = "bin/grpc-as/src/main.rs"
required-features = [ "rvps-native", "rvps-grpc", "tokio/rt-multi-thread" ]

[[bin]]
name = "rvps"
path = "bin/rvps/src/main.rs"
required-features = [ "rvps-native", "rvps-grpc", "tokio/rt-multi-thread" ]

[features]
default = [ "rvps-native", "in-toto", "all-verifier" ]
all-verifier = [ "tdx-verifier" ]
tdx-verifier = [ "cc-measurement", "scroll", "sgx-dcap-quoteverify-rs" ]

rvps-native = []
rvps-grpc = [ "tonic" ]

in-toto = [ "dep:in-toto" ]

[dependencies]
anyhow = "1.0"
async-trait = "0.1.31"
as-types = { path = "./as-types" }
base64 = "0.13.0"
byteorder = "1"
cc-measurement = { git = "https://github.com/confidential-containers/td-shim", optional = true }
cfg-if = "1.0.0"
chrono = { version = "0.4.19", features = [ "serde" ] }
clap = { version = "3.2.6", features = ["derive"] }
env_logger = "0.9.1"
futures = "0.3.17"
hex = "0.4.3"
# TODO: Replace this with crate.io published version
in-toto = { git = "https://github.com/Xynnn007/in-toto-rs.git", rev = "7f69799", optional = true }
# TODO: Replace this with kbs-types next published version (0.2.0)
kbs-types = { git = "https://github.com/virtee/kbs-types.git", rev = "13b9378f" }
lazy_static = "1.4.0"
log = "0.4.17"
path-clean = "0.1.0"
prost = "0.11.0"
scroll = { version = "0.11.0", default-features = false, features = ["derive"], optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "*"
sgx-dcap-quoteverify-rs = { git = "https://github.com/intel/SGXDataCenterAttestationPrimitives" , rev = "85cf8bdd", optional = true }
sha2 = "0.10"
shadow-rs = "0.19.0"
sled = "0.34.7"
strum = "0.24.0"
strum_macros = "0.24.0"
tempfile = "3.3.0"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros"] }
tonic = { version = "0.8.1", optional = true }
uuid = { version = "1.1.2", features = ["v4"] }

[build-dependencies]
shadow-rs = "0.19.0"
tonic-build = "0.8.0"

[dev-dependencies]
serial_test = "0.9.0"
sha2 = "0.10.2"
testing_logger = "0.1.1"
walkdir = "2.3.2"
