[http_server]
sockets = ["0.0.0.0:8080"]
# Ideally we should use some solution like cert-manager to issue let's encrypt based certificate:
# https://cert-manager.io/docs/configuration/acme/
insecure_http = true
payload_request_size = 2

[attestation_token]
insecure_key = false

[attestation_service]
type = "coco_as_builtin"
timeout = 5

[attestation_service.attestation_token_broker]
duration_min = 5

[attestation_service.rvps_config]
type = "BuiltIn"

[admin]
# Do not use in production
type = "InsecureAllowAll"

[storage_backend]
storage_type = "Memory"
