{
    "storage": {
        "storage_type": "{{ include "coco-trustee.storage.type" . }}",
        "backends": {
            "local_fs": {
                "dir_path": "{{ include "coco-trustee.storage.rvpsLocalDir" . }}"
            },
            "local_json": {
                "file_dir_path": "{{ include "coco-trustee.storage.localJsonDir" . }}"
            },
            "postgres": {}
        }
    },
    "extractors": {
        "swid_extractor": {}
    }
}
