apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: coco-tenant

images:
- name: kbs-container-image
  newName: ghcr.io/confidential-containers/key-broker-service
  newTag: built-in-as-v0.7.0

resources:
- namespace.yaml
- deployment.yaml
- service.yaml

# KBS configuration.
configMapGenerator:
- files:
  - kbs-config.toml
  name: kbs-config

# KBS auth public key.
secretGenerator:
- files:
  - kbs.pem
  name: kbs-auth-public-key
