name: Actionlint
on: [pull_request]
permissions:
  contents: read

jobs:
  actionlint:
    name: Workflow Files
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - uses: reviewdog/action-actionlint@437bbe918b0d29544cbf9e8b1d63fe6f4e7a881d # v1.69.0
      with:
        fail_level: any 
