name: AS/RVPS Container Image Build
on:
  pull_request:
    paths:
      - 'attestation-service/**'
      - 'rvps/**'
      - 'deps/**'
      - '.github/workflows/as-docker-build.yml'
      - '.github/workflows/build-as-image.yml'
      - 'Cargo.toml'
  create:

permissions: {}

jobs:
  check_as_image_build:
    uses: ./.github/workflows/build-as-image.yml
    permissions:
      contents: read
      packages: write
    secrets:
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
