name: AS & RVPS Container image build test
on:
  push:
    branches:
      - "main"
    paths:
      - 'attestation-service/**'
      - '.github/workflows/as-dockerbuild.yml'
      - 'Cargo.toml'
  pull_request:
    paths:
      - 'attestation-service/**'
      - '.github/workflows/as-dockerbuild.yml'
      - 'Cargo.toml'
  create:

jobs:
  basic_ci:
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    name: Check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Code checkout
      uses: actions/checkout@v4
    
    - name: Build gRPC AS Container Image
      run: |
        DOCKER_BUILDKIT=1 docker build -t attestation-service:latest . -f attestation-service/Dockerfile.as-grpc

    - name: Build RVPS Container Image
      run: |
        Docker_BUILDKIT=1 docker build -t rvps:latest . -f attestation-service/rvps/Dockerfile