name: CoCo-AS e2e

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

# Self-hosted runners do not set -o pipefail otherwise
defaults:
  run:
    shell: bash

jobs:
  e2e-test:
    strategy:
      fail-fast: false
      matrix:
        include:
         # TODO: Add real HW-TEE test
         # See https://github.com/confidential-containers/trustee/issues/223
          # - runner: self-hosted
          #   generate_evidence: true
          #   grpc_tee_enum: 3
          #   restful_tee_enum: tdx
          - runner: ubuntu-24.04
            generate_evidence: false
            grpc_tee_enum: 2
            restful_tee_enum: snp
    name: TEE=${{ matrix.restful_tee_enum }} Generate Evidence Dynamically=${{ matrix.generate_evidence }}
    runs-on: ${{ matrix.runner }}
    env:
      GRPC_TEE_ENUM: ${{ matrix.grpc_tee_enum }}
      RESTFUL_TEE_ENUM: ${{ matrix.restful_tee_enum }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        components: rustfmt, clippy

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: stable

    - name: Set up rust build cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      continue-on-error: false
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          target/
        key: rust-${{ hashFiles('./Cargo.lock') }}

    - name: Install dependencies
      if: ${{ matrix.runner == 'ubuntu-24.04' }}
      working-directory: attestation-service/tests/e2e
      run: |
        make install-dependencies
        go install github.com/fullstorydev/grpcurl/cmd/grpcurl@latest

    - name: Run e2e test (gRPC)
      working-directory: attestation-service/tests/e2e
      run: make e2e-grpc-test

    - name: Run e2e test (RESTful)
      working-directory: attestation-service/tests/e2e
      run: make e2e-restful-test
