name: Build KBS Client Image

on:
  workflow_call:
    inputs:
      build_option:
        description: 'Build option for the image'
        type: string
        required: false
    secrets:
      GHCR_TOKEN:
        description: 'GitHub token for GHCR'
        required: true

permissions:
  contents: read

jobs:
  build_kbs_client_image:
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            instance: ubuntu-24.04
          - arch: s390x
            instance: s390x
          - arch: aarch64
            instance: ubuntu-24.04-arm
    runs-on: ${{ matrix.instance }}

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Login to GHCR Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build Container Image KBS-Client (${{ matrix.arch }})
      run: |
        commit_sha=${{ github.sha }}
        docker buildx build --provenance false \
          ${INPUTS_BUILD_OPTION:+"$INPUTS_BUILD_OPTION"} \
          -f kbs/docker/kbs-client-image/Dockerfile \
          -t "ghcr.io/confidential-containers/staged-images/kbs-client-image:${commit_sha}-${{ matrix.arch }}" \
          -t "ghcr.io/confidential-containers/staged-images/kbs-client-image:latest-${{ matrix.arch }}" .
      env:
        INPUTS_BUILD_OPTION: ${{ inputs.build_option }}
