name: Build CoCo AS/RVPS Image

on:
  workflow_call:
    inputs:
      build_option:
        description: 'Build option for the image'
        type: string
        required: false
    secrets:
      GHCR_TOKEN:
        description: 'GitHub token for GHCR'
        required: true

permissions:
  contents: read

jobs:
  build_as_image:
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        target_arch:
        - x86_64
        - s390x
        - aarch64
        name:
        - RESTful CoCo-AS
        - gRPC CoCo-AS
        - RVPS
        include:
        # add docker_file + tag to each target
        - name: gRPC CoCo-AS
          docker_file: attestation-service/docker/as-grpc/Dockerfile
          tag: coco-as-grpc
        - name: RESTful CoCo-AS
          docker_file: attestation-service/docker/as-restful/Dockerfile
          tag: coco-as-restful
        - name: RVPS
          docker_file: rvps/docker/Dockerfile
          tag: rvps
        # add instance and verifier flag to target
        - target_arch: x86_64
          target_platform: linux/amd64
          build_platform: linux/amd64
          instance: ubuntu-24.04
          verifier: all-verifier
        - target_arch: s390x
          target_platform: linux/s390x
          build_platform: linux/s390x
          instance: s390x
          verifier: snp-verifier,nvidia-verifier,se-verifier
        - target_arch: aarch64
          target_platform: linux/arm64
          build_platform: linux/arm64
          instance: ubuntu-24.04-arm
          verifier: cca-verifier
    runs-on: ${{ matrix.instance }}

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Login to GHCR Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build ${{ matrix.name }} Container Image
      run: |
        commit_sha=${{ github.sha }}
        docker buildx build --platform "${{ matrix.target_platform }}" --provenance false \
          -f "${{ matrix.docker_file }}" \
          ${INPUTS_BUILD_OPTION:+"$INPUTS_BUILD_OPTION"} \
          --build-arg BUILDPLATFORM="${{ matrix.build_platform }}" \
          --build-arg ARCH="${{ matrix.target_arch }}" \
          --build-arg VERIFIER="${{ matrix.verifier }}" \
          -t "ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:${commit_sha}-${{ matrix.target_arch }}" \
          -t "ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:latest-${{ matrix.target_arch }}" .
      env:
        INPUTS_BUILD_OPTION: ${{ inputs.build_option }}
