name: Build KBS Image

on:
  workflow_call:
    inputs:
      build_option:
        description: 'Build option for the image'
        type: string
        required: false
    secrets:
      GHCR_TOKEN:
        description: 'GitHub token for GHCR'
        required: true

permissions:
  contents: read

jobs:
  build_kbs_image:
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        target_arch:
          - x86_64
          - s390x
          - aarch64
        tag:
          - kbs
          - kbs-grpc-as
          - kbs-ita-as
          - rhel-ubi
        exclude:
          - target_arch: s390x
            tag: rhel-ubi
          - target_arch: aarch64
            tag: kbs-ita-as
          - target_arch: aarch64
            tag: rhel-ubi
        include:
          # add docker_file + name to each tag
          - tag: kbs
            docker_file: kbs/docker/Dockerfile
            name: build-in AS
          - tag: kbs-grpc-as
            docker_file: kbs/docker/coco-as-grpc/Dockerfile
            name: gRPC AS
          - tag: kbs-ita-as
            docker_file: kbs/docker/intel-trust-authority/Dockerfile
            name: Intel Trust Authority AS
          - tag: rhel-ubi
            docker_file: kbs/docker/rhel-ubi/Dockerfile
            name: RHEL UBI AS
          # add instance flag to target
          - target_arch: x86_64
            target_platform: linux/amd64
            build_platform: linux/amd64
            instance: ubuntu-24.04
          - target_arch: s390x
            target_platform: linux/s390x
            build_platform: linux/s390x
            instance: s390x
          - target_arch: aarch64
            target_platform: linux/arm64
            build_platform: linux/arm64
            instance: ubuntu-24.04-arm

    runs-on: ${{ matrix.instance }}

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Login to GHCR Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build Container Image KBS (${{ matrix.name }})
      run: |
        commit_sha=${{ github.sha }}
        docker buildx build --platform "${{ matrix.target_platform }}" --provenance false \
          -f "${{ matrix.docker_file }}" \
          ${INPUTS_BUILD_OPTION:+"$INPUTS_BUILD_OPTION"} \
          -t "ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:${commit_sha}-${{ matrix.target_arch }}" \
          -t "ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:latest-${{ matrix.target_arch }}" \
          --build-arg BUILDPLATFORM="${{ matrix.build_platform }}" \
          --build-arg ARCH="${{ matrix.target_arch }}" .
      env:
        INPUTS_BUILD_OPTION: ${{ inputs.build_option }}
