name: Build KBS Image

on:
  workflow_call:
    inputs:
      build_option:
        description: 'Build option for the image'
        type: string
        required: false

jobs:
  build_kbs_image:
    strategy:
      fail-fast: false
      matrix:
        target_arch:
          - x86_64
          - s390x
          - aarch64
        tag:
          - kbs
          - kbs-grpc-as
          - kbs-ita-as
          - rhel-ubi
        exclude:
          - target_arch: s390x
            tag: kbs-ita-as
          - target_arch: s390x
            tag: rhel-ubi
          - target_arch: aarch64
            tag: kbs-ita-as
          - target_arch: aarch64
            tag: rhel-ubi
        include:
          # add docker_file + name to each tag
          - tag: kbs
            docker_file: kbs/docker/Dockerfile
            name: build-in AS
          - tag: kbs-grpc-as
            docker_file: kbs/docker/coco-as-grpc/Dockerfile
            name: gRPC AS
          - tag: kbs-ita-as
            docker_file: kbs/docker/intel-trust-authority/Dockerfile
            name: Intel Trust Authority AS
          - tag: rhel-ubi
            docker_file: kbs/docker/rhel-ubi/Dockerfile
            name: RHEL UBI AS
          # add instance flag to target
          - target_arch: x86_64
            target_platform: linux/amd64
            build_platform: linux/amd64
            instance: ubuntu-24.04
          - target_arch: s390x
            target_platform: linux/s390x
            build_platform: linux/s390x
            instance: s390x
          - target_arch: aarch64
            target_platform: linux/arm64
            build_platform: linux/amd64
            instance: ubuntu-24.04

    runs-on: ${{ matrix.instance }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GHCR Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Container Image KBS (${{ matrix.name }})
      run: |
        commit_sha=${{ github.sha }}
        docker buildx build --platform "${{ matrix.target_platform }}" --provenance false \
          -f "${{ matrix.docker_file }}" ${{ inputs.build_option }} \
          -t "ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:${commit_sha}-${{ matrix.target_arch }}" \
          -t "ghcr.io/confidential-containers/staged-images/${{ matrix.tag }}:latest-${{ matrix.target_arch }}" \
          --build-arg BUILDPLATFORM="${{ matrix.build_platform }}" \
          --build-arg ARCH="${{ matrix.target_arch }}" .
