name: KBS e2e (Azure vTPM TEE)

on:
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  checkout:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout Code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Archive source
      run: git archive -o kbs.tar.gz HEAD

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: ./kbs.tar.gz

  tdx-e2e-test:
    needs:
    - checkout
    uses: ./.github/workflows/kbs-e2e.yml
    permissions:
      packages: write
      contents: read
    with:
      runs-on-test: '["self-hosted","azure-cvm-tdx"]'
      tee: az-tdx-vtpm
      tarball: kbs.tar.gz
      kbs-client-features: az-tdx-vtpm-attester

  snp-e2e-test:
    needs:
    - checkout
    uses: ./.github/workflows/kbs-e2e.yml
    permissions:
      packages: write
      contents: read
    with:
      runs-on-test: '["self-hosted","azure-cvm"]'
      tee: az-snp-vtpm
      tarball: kbs.tar.gz
      kbs-client-features: az-snp-vtpm-attester
