name: KBS Rust Suites

on:
  push:
    branches:
      - "main"
    paths:
      - 'kbs/**'
      - 'deps/**'
      - '.github/workflows/kbs-rust.yml'
      - 'Cargo.toml'
  pull_request:
    paths:
      - 'kbs/**'
      - 'deps/**'
      - '.github/workflows/kbs-rust.yml'
      - 'Cargo.toml'

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: Check
    strategy:
      fail-fast: false
      matrix:
        include:
        - instance: ubuntu-24.04
          test_features: "pkcs11"
        - instance: ubuntu-24.04-arm
          test_features: "coco-as-builtin,coco-as-grpc,intel-trust-authority-as,cca-attester,pkcs11"
        - instance: s390x-large
          test_features: "coco-as-builtin,coco-as-grpc,intel-trust-authority-as,pkcs11"
    runs-on: ${{ matrix.instance }}

    steps:
    - name: Code checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        components: rustfmt, clippy

    - name: Building dependencies installation
      run: |
        sudo apt-get update && sudo apt-get install -y protobuf-compiler libprotobuf-dev libtss2-dev

    - name: Install TDX dependencies
      if: ${{ matrix.instance == 'ubuntu-24.04' }}
      run: |
        curl -L https://download.01.org/intel-sgx/sgx_repo/ubuntu/intel-sgx-deb.key | sudo gpg --dearmor --output /usr/share/keyrings/intel-sgx.gpg
        echo 'deb [arch=amd64 signed-by=/usr/share/keyrings/intel-sgx.gpg] https://download.01.org/intel-sgx/sgx_repo/ubuntu noble main' | sudo tee /etc/apt/sources.list.d/intel-sgx.list
        sudo apt-get update
        sudo apt-get install -y libsgx-dcap-quote-verify-dev

    - name: KBS Build [Default/Built-in CoCo AS]
      working-directory: kbs
      run: make

    - name: KBS Build [gRPC CoCo AS]
      working-directory: kbs
      run: make COCO_AS_INTEGRATE_TYPE=grpc

    - name: build KBS for Intel Trust Authority
      working-directory: kbs
      run: make AS_TYPE=intel-trust-authority-as

    - name: KBS Build [background-check-kbs with ALIYUN, NEBULA_CA_PLUGIN, VAULT]
      working-directory: kbs
      run: make background-check-kbs ALIYUN=true NEBULA_CA_PLUGIN=true VAULT=true

    - name: KBS Build [passport-issuer-kbs with ALIYUN, NEBULA_CA_PLUGIN, VAULT]
      working-directory: kbs
      run: make passport-issuer-kbs ALIYUN=true NEBULA_CA_PLUGIN=true VAULT=true

    - name: KBS Build [passport-resource-kbs with ALIYUN, NEBULA_CA_PLUGIN, VAULT]
      working-directory: kbs
      run: make passport-resource-kbs ALIYUN=true NEBULA_CA_PLUGIN=true VAULT=true

    - name: Lint
      working-directory: kbs
      run: make lint TEST_FEATURES=${{ matrix.test_features }}

    - name: Format
      working-directory: kbs
      run: make format

    - name: setup softhsm for pkcs11 tests
      if: contains(matrix.test_features, 'pkcs11')
      working-directory: kbs
      run: |
        echo "SETUP tools for pkcs11 ${{ matrix.instance }}"
        sudo apt-get install -y --no-install-recommends softhsm2 opensc
        mkdir -p "$RUNNER_TEMP/softhsm/tokens"
        echo "directories.tokendir = $RUNNER_TEMP/softhsm/tokens" > "$RUNNER_TEMP/softhsm/softhsm2.conf"
        export SOFTHSM2_CONF="$RUNNER_TEMP/softhsm/softhsm2.conf"
        softhsm2-util --init-token --free --label "Trustee pkcs11 test" --so-pin 12345678 --pin 12345678
    - name: Test
      working-directory: kbs
      env:
        SOFTHSM2_CONF: '${{ runner.temp }}/softhsm/softhsm2.conf'
      run: make check TEST_FEATURES=${{ matrix.test_features }}
