name: KBS e2e (Azure vTPM TEE)

on:
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  checkout:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Archive source
      run: git archive -o kbs.tar.gz HEAD

    - uses: actions/upload-artifact@v4
      with:
        path: ./kbs.tar.gz

  tdx-e2e-test:
    needs:
    - checkout
    uses: ./.github/workflows/kbs-e2e.yml
    with:
      runs-on-test: '["self-hosted","azure-cvm-tdx"]'
      tee: aztdxvtpm
      tarball: kbs.tar.gz

  snp-e2e-test:
    needs:
    - checkout
    uses: ./.github/workflows/kbs-e2e.yml
    with:
      runs-on-test: '["self-hosted","azure-cvm"]'
      tee: azsnpvtpm
      tarball: kbs.tar.gz
