name: KBS e2e (Sample TEE)

on:
  pull_request:
    branches: [ "main" ]

jobs:
  checkout:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Archive source
      run: git archive -o kbs.tar.gz HEAD

    - uses: actions/upload-artifact@v4
      with:
        path: ./kbs.tar.gz

  e2e-test-amd64:
    needs: checkout
    uses: ./.github/workflows/kbs-e2e.yml
    with:
      tee: sample
      runs-on: '["ubuntu-22.04"]'
      tarball: kbs.tar.gz

  e2e-test-arm64:
    needs: checkout
    uses: ./.github/workflows/kbs-e2e.yml
    with:
      tee: sample
      runs-on: '["ubuntu-22.04-arm"]'
      tarball: kbs.tar.gz
      kbs-client-features: "sample_only,cca-attester"
