name: KBS e2e (Azure vTPM TEE)

on:
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  checkout:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout Code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false

    - name: Archive source
      run: git archive -o kbs.tar.gz HEAD

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        path: ./kbs.tar.gz

  tdx-e2e-test:
    needs:
    - checkout
    uses: ./.github/workflows/kbs-e2e.yml
    permissions:
      packages: write
      contents: read
    with:
      runs-on-test: '["self-hosted","azure-cvm-tdx"]'
      tee: az-tdx-vtpm
      tarball: kbs.tar.gz

  snp-e2e-test:
    needs:
    - checkout
    uses: ./.github/workflows/kbs-e2e.yml
    permissions:
      packages: write
      contents: read
    with:
      runs-on-test: '["self-hosted","azure-cvm"]'
      tee: az-snp-vtpm
      tarball: kbs.tar.gz
