name: KBS e2e

on:
  workflow_call:
    inputs:
      tee:
        type: string
        required: true
      arch:
        type: string
        default: 'amd64'
      runs-on-build:
        type: string
        default: '["ubuntu-22.04"]'
        description: JSON representation of runner labels for build
      runs-on-test:
        type: string
        default: '["ubuntu-22.04"]'
        description: JSON representation of runner labels for test
      tarball:
        type: string
        description: Artifact containing checked out source from a prior job
        required: true
      kbs-client-features:
        type: string
        default: ""
        description: features for kbs-client

permissions:
  contents: read

# Self-hosted runners do not set -o pipefail otherwise
defaults:
  run:
    shell: bash

jobs:
  build-binaries:
    runs-on: ${{ fromJSON(inputs.runs-on-build) }}
    permissions:
      packages: write
    env:
      OS_VERSION: ubuntu-22.04
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0

    - name: Extract tarball
      run: tar xzf "./${INPUTS_TARBALL}"
      env:
        INPUTS_TARBALL: ${{ inputs.tarball }}

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        components: rustfmt, clippy
        rustflags: ""
        cache: false

    - name: Set up rust build cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      continue-on-error: false
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          target/
        key: rust-${{ runner.arch }}-${{ env.OS_VERSION }}-${{ hashFiles('./Cargo.lock') }}

    - name: Build bins
      working-directory: kbs/test
      run: |
        make install-dev-dependencies
        make bins "TEST_FEATURES=${INPUTS_KBS_CLIENT_FEATURES}"
      env:
        INPUTS_KBS_CLIENT_FEATURES: ${{ inputs.kbs-client-features }}

    - name: Archive test folder
      run: tar czf test.tar.gz kbs/test

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: test.tar.gz
        overwrite: true
        name: artifacts-${{ inputs.tee }}-${{ inputs.arch}}

  e2e-test:
    needs: build-binaries
    runs-on: ${{ fromJSON(inputs.runs-on-test) }}
    env:
      TEE: ${{ inputs.tee }}
      RUST_LOG: warn
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: artifacts-${{ inputs.tee }}-${{ inputs.arch }}

    - name: Extract test folder
      run: tar xzf ./test.tar.gz

    - name: Set up SGX/TDX certificates cache
      if: inputs.tee == 'az-tdx-vtpm'
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: .dcap-qcnl
        key: ${{ runner.os }}-dcap-qcnl

    - name: Install dependencies
      working-directory: kbs/test
      run: |
        sudo apt-get update
        sudo apt-get install -y make --no-install-recommends
        make install-dependencies

    - name: Run e2e test
      if: inputs.tee != 'az-tdx-vtpm' && inputs.tee != 'az-snp-vtpm'
      working-directory: kbs/test
      run: make e2e-test

    - name: Run e2e test (w/ sudo)
      if: inputs.tee == 'az-tdx-vtpm' || inputs.tee == 'az-snp-vtpm'
      working-directory: kbs/test
      run: sudo -E make e2e-test
