name: KBS e2e (Sample TEE)

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  checkout:
    permissions:
      packages: write
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - name: Archive source
      run: git archive -o kbs.tar.gz HEAD

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./kbs.tar.gz

  e2e-test-amd64:
    needs: checkout
    uses: ./.github/workflows/kbs-e2e.yml
    permissions:
      contents: read
      packages: write
    with:
      tee: sample
      tarball: kbs.tar.gz

  e2e-test-arm64:
    needs: checkout
    uses: ./.github/workflows/kbs-e2e.yml
    with:
      tee: sample
      arch: aarch64
      runs-on-build: '["ubuntu-22.04-arm"]'
      runs-on-test: '["ubuntu-22.04-arm"]'
      tarball: kbs.tar.gz
      kbs-client-features: "cca-attester"
    permissions:
      contents: read
      packages: write
