name: KBS e2e (Vault)

on:
  pull_request:
    branches: ["main"]
    paths:
      - 'kbs/src/plugins/implementations/resource/**'
      - 'kbs/test/Makefile'
      - '.github/workflows/kbs-e2e-vault.yml'

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  vault-e2e-test:
    runs-on: ubuntu-24.04
    env:
      OS_VERSION: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@a0b538fa0b742a6aa35d6e2c169b4bd06d225a98 # v1.15.3
      with:
        rustflags: ""
        cache: false

    - name: Set up rust build cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      continue-on-error: false
      with:
        path: |
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          target/
        key: rust-${{ runner.arch }}-${{ env.OS_VERSION }}-${{ hashFiles('./Cargo.lock') }}

    - name: Install build dependencies
      working-directory: kbs/test
      run: make install-dev-dependencies

    - name: Run vault integration tests (no SSL)
      working-directory: kbs/test
      run: |
        make test-vault-nossl
        make stop-vault

    - name: Run vault SSL integration tests
      working-directory: kbs/test
      run: |
        make test-vault-ssl
        make stop-vault-ssl
