name: Build and Push kbs-client

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  build_and_push:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            instance: ubuntu-24.04
          - arch: s390x
            instance: s390x
          - arch: aarch64
            instance: ubuntu-24.04-arm
    runs-on: ${{ matrix.instance }}
    permissions:
      contents: read
      packages: write

    steps:
    - name: Install ORAS
      uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4
      with:
        version: 1.0.0

    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Log in to ghcr.io
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build a statically linked kbs-client for ${{ matrix.arch }} linux
      run: |
        docker buildx build -f kbs/docker/kbs-client/Dockerfile \
          --build-arg ARCH="${{ matrix.arch }}" --output ./ .

    - name: Push to ghcr.io
      run: |
        commit_sha=${{ github.sha }}
        oras push \
          ghcr.io/confidential-containers/staged-images/kbs-client:sample_only-${commit_sha}-${{ matrix.arch }},latest-${{ matrix.arch }} \
          kbs-client
        if [ "${{ matrix.arch }}" = "x86_64" ]; then
          oras push ghcr.io/confidential-containers/staged-images/kbs-client:latest kbs-client
        fi
