name: Trustee CLI Rust Suites

on:
  push:
    branches:
      - "main"
    paths:
      - "tools/trustee-cli/**"
      - "attestation-service/**"
      - "kbs/**"
      - "rvps/**"
      - "deps/**"
      - ".github/workflows/trustee-cli-rust.yml"
      - "Cargo.toml"
  pull_request:
    paths:
      - "tools/trustee-cli/**"
      - "attestation-service/**"
      - "kbs/**"
      - "rvps/**"
      - "deps/**"
      - ".github/workflows/trustee-cli-rust.yml"
      - "Cargo.toml"

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: Check
    strategy:
      fail-fast: false
      matrix:
        include:
        - instance: ubuntu-24.04
          test_features: ""
        - instance: ubuntu-24.04-arm
          test_features: ""
    runs-on: ${{ matrix.instance }}

    steps:
    - name: Code checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Install Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        components: rustfmt, clippy

    - name: Building dependencies installation
      run: |
        sudo apt-get update && sudo apt-get install -y protobuf-compiler libprotobuf-dev libtss2-dev

    - name: Install TPM dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libtss2-dev

    - name: Install TDX dependencies
      if: ${{ matrix.instance == 'ubuntu-24.04' }}
      run: |
        curl -L https://download.01.org/intel-sgx/sgx_repo/ubuntu/intel-sgx-deb.key | sudo gpg --dearmor --output /usr/share/keyrings/intel-sgx.gpg
        echo 'deb [arch=amd64 signed-by=/usr/share/keyrings/intel-sgx.gpg] https://download.01.org/intel-sgx/sgx_repo/ubuntu noble main' | sudo tee /etc/apt/sources.list.d/intel-sgx.list
        sudo apt-get update
        sudo apt-get install -y libsgx-dcap-quote-verify-dev

    - name: Build trustee CLI
      working-directory: tools/trustee-cli
      run: cargo build --release --bin trustee

    - name: Lint
      working-directory: tools/trustee-cli
      run: cargo clippy --all-targets -- -D warnings

    - name: Format
      working-directory: tools/trustee-cli
      run: cargo fmt --check

    - name: Test
      working-directory: tools/trustee-cli
      run: cargo test
